{% extends "base.html" %}

{% block title %}
    ShopPage
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('shop_page.static', filename = 'css/shop.css') }}">
{% endblock %}

{% block content %}
    
    <div class="links">
        <a href="/" style="text-decoration: none">HOME</a>
        <a href="/shop_page/" style="font-weight: bolder">SHOP</a>
        <a href="/cart/" class="basket-link" style="text-decoration: none">CART</a>
        <a href="/contacts/" style="text-decoration: none">CONTACTS</a> 

        <p>{{name}}</p>

        {% if is_admin %}
            <a href="/admin/" style="text-decoration: none">ADMIN</a>
        {% else %}
            <p>You're not admin</p>
        {% endif %}

    </div>
        
    {% for product in products %}
            <br><img src="{{ url_for('shop_page.static', filename = 'img/' + product.name + '.png') }}" alt="" class="product-img"><br>
                
            <div class="text-conteiner">
                <div class="text-content">
                    <p class="name" >{{ product.name }}</p>
                    <p class="price">{{ product.price }} грн</p>
                    <p class="discount">Знижка {{ product.discount }}%</p>
                    
                    <p class="price-2">{{ product.final_price }} грн </p>

                    <button type="submit" class="button" id = "{{ product.id }} " name="{{ product.final_price }}"> КУПИТИ </button>
                
                    <p class="text-img">ЄМНІСТЬ: </p>
                    <button type= 'submit' class="amount">128GB</button>
                    <button type= 'submit' class="amount">256GB</button>
                    <button type= 'submit' class="amount">512GB</button>
                
                </div>
            
                <p class="stock">ТОВАР В НАЯВНОСТІ</p>
                <img src="{{ url_for('shop_page.static', filename= 'img/tick.png') }}" alt="" class="tick">
            
            </div>
    {% endfor %}

    <script src="{{ url_for('shop_page.static', filename = 'js/shop.js') }}" defer></script> 

{% endblock %}