{% extends "base.html" %} 

{% block title %} RegistrationPage {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('registration.static', filename = 'css/reg.css')}}">
{% endblock %}

{% block content %}
    {% if not is_registration %}
        <div class="container">
            <form method = 'post' class="main-form">
                <br><label for="name">Login</label>
                <br><input type="text" name="name"><br>

                <br><label for="email">Email<label>
                <br><input type="text" name="email"><br>
                    
                <br><label for="password">Password<label>
                <br><input type="text" name="password"><br>

                <br><label for="password_confirmation">Password confirmation<label>
                <br><input type="text" name="password_confirmation"><br>

                <div class="button">
                    <br><button type="submit" class="send-button">SEND</button>
                </div>           
            </form>         
        </div>
    {% else %}
        <h3 class="message">Ви вже зареєстровані</h3>
        <div style='text-align: center; margin-top: 15px; margin-right: 10px;'>
            <a href="/authorization_page/" class="reg-a">AUTHORIZATION</a>
        </div> 
    {% endif %}
{% endblock %}