{%  extends "base.html" %}

{% block title %}
    CartPage
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('cart.static', filename = 'css/cart-3.css' )}}">
{% endblock %}

{% block content %}
    <!-- <p>BASKET PAGE</p> -->

    <div class="links">
        <a href="/" style="text-decoration: none">HOME</a>
        <a href="/shop_page/" style="text-decoration: none">SHOP</a>
        <a href="/cart/" class="basket-link" style="font-weight: bolder">CART</a>
        <a href="/contacts/" style="text-decoration: none">CONTACTS</a> 

        <p>{{name}}</p>

        {% if is_admin %}
            <a href="/admin/" style="text-decoration: none">ADMIN</a>
        {% else %}
            <p>You're not admin</p>
        {% endif %}
    </div>

    <p class="processing-data">Ваші дані у обробці </p>
    <p class="processing-data-2">консультант зв’яжеться з вами для підтвердження замовлення</p>
    {% if products %}            
        {% for product in products %}
            <br><div id="product-{{ product.id }}" class="text-container">
                <img src="{{ url_for('shop_page.static', filename= 'img/' + product.name + '.png') }}" alt="{{ product.id }}" class="product-img">

                <p class="name"> {{ product.description }} </p>
                <p class="count"> {{ product.count }} </p>
                <p class="price"> {{ product.final_price }} грн </p>
            </div>
            
        {% endfor %}
        
        <form method="post">
            <p class="total-price-order">Загальна вартість замовлення:</p>
            <button type="submit" class="reject-order" value="cancel-order" name="cancel-order">ВІДМІНИТИ ЗАМОВЛЕННЯ</button>
        </form>
            
    {% else %}
        <h2>Корзина порожня</h2>
    {% endif %} 

    <script src= "{{ url_for('cart.static', filename = 'js/cancelOrder.js') }}"></script>

{% endblock %}