{% extends "base.html" %}

{% block title %} AuthorizationPage {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename = 'css/login.css')}}">
{% endblock %}

{% block content %}
    <div style='text-align: right; margin-top: 15px; margin-right: 10px;'>
        <a href="/authorization_page/">AUTHORIZATION</a>
    </div> 

    <div class="login-container">
        <form method="post">
            <br><label for="name">Login or email</label>
            <br><input type="text" name = 'name'><br>

            <br><label for="password">Password</label>
            <br><input type="text" name = 'password'><br>

            <div class="button">
                <br><button type= 'submit'>SEND</button><br>
            </div>
        </form>
    </div>
{% endblock %}